@charset "UTF-8";
/*/Colores por defector/*/
/*/Tamaño de letras /*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  background: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: inherit;
}

.hidden {
  display: none !important;
}

/*/ Titulos y subtitulos /*/
.fontSize--lg {
  color: #fdd7c6;
  font-size: 5rem;
}

.fontSize--md {
  color: #fdd7c6;
  font-size: 3rem;
}

.fontSize--sm {
  color: #fdd7c6;
  font-size: 2rem;
}

.fontSize--xs {
  color: #fdd7c6;
  color: #FFFFFF;
  font-size: 1.6rem;
}

.fontSize--sub {
  color: #fdd7c6;
  color: #FFFFFF;
  font-size: 2rem;
}

.fontSize--tl {
  color: #fdd7c6;
  color: #e65111;
  font-size: 5rem;
  font-family: "Candal", sans-serif;
}
@media (max-width: 390px) {
  .fontSize--tl {
    color: #fdd7c6;
    color: #e65111;
    font-size: 4rem;
  }
}

/*/Estilado de los A /*/
.nav__section--link {
  color: #fdd7c6;
  font-size: 2rem;
}
.nav__section--link:hover {
  font-weight: 700;
  color: #e65111;
}

.animationBounce {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounce;
}

@keyframes bounce {
  from {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  20% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  53% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(30px, 0, 0);
  }
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(30px, 0, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(15px, 0, 0);
  }
  90% {
    transform: translate3d(4px, 0, 0);
  }
}
.animationFadeIn {
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projects__button {
  width: 180px;
  height: 50px;
  display: grid;
  place-content: center;
  border: 2px solid #e65111;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #13161C;
  margin: 10px;
  color: #fdd7c6;
}
.projects__button:hover {
  background-color: #f07e4d;
  border: 2px solid #e65111;
  font-weight: 700;
  color: #13161C;
}

@media (max-width: 1000px) {
  .projects__move {
    position: absolute;
    top: 60px;
    bottom: 60px;
    width: 50px;
    z-index: 2;
  }
}

.projects__move--after {
  right: 20px;
}

.projects__move--back {
  left: 20px;
}

.focus__elements {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px 1fr;
  grid-auto-flow: row;
  position: absolute;
  top: 30px;
  bottom: 120px;
  z-index: 2;
  gap: 40px;
}

.focus__move {
  width: 50px;
}

.focus__elements--back {
  left: 30px;
}

.focus__elements--next {
  right: 30px;
}
@media (max-width: 800px) {
  .focus__elements--next {
    display: none;
  }
}
@media (max-width: 700px) {
  .focus__elements--next {
    display: grid;
  }
}
@media (max-width: 550px) {
  .focus__elements--next {
    display: none;
  }
}

@media (max-width: 800px) {
  .focus__move--back {
    display: none;
  }
}
@media (max-width: 700px) {
  .focus__move--back {
    display: grid;
    place-content: center;
  }
}
@media (max-width: 550px) {
  .focus__move--back {
    display: none;
  }
}

.projects__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail__link {
  display: grid;
  place-content: center;
  width: 80px;
  height: 40px;
  color: #fdd7c6;
}

.menu {
  display: none;
}
@media (max-width: 700px) {
  .menu {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    z-index: 1000;
  }
}

.nav--element {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px auto 150px;
  grid-auto-flow: row;
  background-color: #13161C;
}

.nav__section {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.nav__icons {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  gap: 10px;
}

.projects, .skills {
  background-color: #2C323C;
  padding: 20px;
}
@media (min-width: 800px) {
  .projects, .skills {
    padding: 50px;
  }
}
@media (min-width: 1200px) {
  .projects, .skills {
    padding: 120px;
  }
}
@media (min-width: 1400px) {
  .projects, .skills {
    padding: 60px;
  }
}

.skills {
  background-color: #FFFFFF;
}

.projects__gallery {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: auto;
  grid-auto-flow: row;
  border-radius: 10px;
  position: relative;
  grid-area: 2/1/3/3;
  background-color: #13161C;
  padding: 10px;
  gap: 4px;
}
@media (max-width: 1000px) {
  .projects__gallery {
    border: 10px solid #13161C;
    border-radius: 10px;
    grid-template-columns: none;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .skills__move {
    display: none;
  }
}

.skills__move--back {
  grid-area: 1/1/3/2;
}

.skills__move--next {
  grid-area: 1/3/3/4;
}

.skills__JS {
  display: grid;
  place-content: center;
}
@media (max-width: 1000px) {
  .skills__JS {
    grid-area: 1/1/2/4;
  }
}
.skills__JS .skills__elements {
  overflow: auto;
}

.skills__section--container {
  border: 2px solid #e65111;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: auto minmax(auto, 40px);
  grid-auto-flow: row;
  width: 100%;
  height: auto;
  grid-area: 2/1/3/2;
  position: relative;
  min-height: 400px;
  background-color: #13161C;
  padding: 30px;
  gap: 10px;
}

.skills__section {
  padding: 10px;
  background-color: #13161C;
  border-radius: 10px;
}
@media (max-width: 1400px) {
  .skills__section {
    grid-area: 2/1/3/3;
  }
}

.skills__title {
  grid-area: 1/1/2/3;
  margin-bottom: 60px;
}

.statistic__project {
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: 70px auto;
  grid-auto-flow: row;
  gap: 10px;
}
@media (min-width: 600px) {
  .statistic__project {
    grid-template-columns: 150px auto;
  }
}
@media (min-width: 1000px) {
  .statistic__project {
    grid-template-columns: 300px auto;
  }
}
@media (min-width: 1400px) {
  .statistic__project {
    grid-template-columns: auto;
  }
}

.statistic__technology {
  grid-area: 2/1/2/3;
}
@media (min-width: 600px) {
  .statistic__technology {
    grid-area: 2/2/3/3;
  }
}
@media (min-width: 1400px) {
  .statistic__technology {
    grid-area: 2/1/3/2;
  }
}

.statistic--title {
  display: grid;
  place-content: center;
  text-align: center;
  grid-area: 1/1/1/2;
}
@media (min-width: 600px) {
  .statistic--title {
    grid-area: 1/2/2/3;
  }
}
@media (min-width: 1400px) {
  .statistic--title {
    grid-area: 1/1/2/2;
  }
}

.aboutMe {
  display: grid;
  gap: 20px;
  text-align: center;
  margin: 100px auto;
  max-width: 550px;
  place-self: center;
  padding: 20px;
}
@media (min-width: 1200px) {
  .aboutMe {
    max-width: 950px;
    margin: 300px 60px;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto;
  grid-auto-flow: row;
}
@media (max-width: 1075px) {
  .container {
    grid-template-columns: 1fr 220px;
  }
}
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.projects__container, .skills__container {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: auto;
  grid-auto-flow: row;
  margin: 100px auto;
  gap: 30px;
}
@media (min-width: 1400px) {
  .projects__container, .skills__container {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto;
    grid-auto-flow: row;
    width: 1200px;
    padding: 20px;
  }
}

.header {
  grid-area: 1/2/1/3;
}
@media (max-width: 700px) {
  .header {
    grid-area: 1/1/1/1;
  }
}

.main {
  background-color: #FFFFFF;
  display: grid;
}

.nav {
  position: fixed;
  top: 0;
  width: 220px;
  height: 100%;
  right: 0;
  padding: 70px 35px;
  z-index: 1;
}
@media (min-width: 1076px) {
  .nav {
    padding: 70px 45px;
    width: 300px;
  }
}

@media (max-height: 600px) {
  .nav__icons {
    display: block;
    margin-top: 50px;
  }
  .nav__link {
    margin-right: 20px;
  }
}
@media (max-height: 545px) {
  .nav__perfil {
    display: none;
  }
  .nav--element {
    grid-template-rows: 1fr;
  }
}
.skills__button {
  grid-area: 2/1/3/4;
  display: flex;
  place-content: center;
  gap: 20px;
  height: 40px;
}
@media (max-width: 880px) {
  .skills__button {
    gap: 10px;
    height: 50px;
  }
}
@media (max-width: 720px) {
  .skills__button {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 40px;
    grid-auto-flow: row;
    height: 88px;
    gap: 8px;
  }
}

.skills__accion {
  width: 160px;
  height: 100%;
}
@media (max-width: 915px) {
  .skills__accion {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .skills__accion {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .skills__accion--data {
    grid-area: 1/2/3/3;
  }
}

.skills__data {
  border: 2px solid #e65111;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  padding: 30px;
  height: 100%;
}
@media (min-width: 1400px) {
  .skills__data {
    display: block;
  }
}
@media (max-width: 400px) {
  .skills__data {
    display: block;
  }
}

.skills__data--container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: center;
  gap: 10px;
}

.skills__detail {
  background-color: #13161C;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 1400px) {
  .skills__detail {
    grid-area: 3/1/4/3;
  }
}

.skills__header {
  margin-bottom: 30px;
  text-align: center;
  grid-area: 1/1/2/3;
}
@media (min-width: 1400px) {
  .skills__header {
    margin-bottom: 60px;
  }
}

.skills__img {
  border: 2px solid #e65111;
  border-radius: 10px;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
}

.stadistic__background {
  width: 100%;
  height: 20px;
  position: relative;
  border-radius: 10px;
}

.statistics__container {
  grid-area: 1/2/1/3;
  display: grid;
  place-content: center;
}
@media (min-width: 600px) {
  .statistics__container {
    grid-area: 1/1/3/2;
  }
}
@media (min-width: 1400px) {
  .statistics__container {
    grid-area: 3/1/4/2;
  }
}

.stadistic__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.stadistic__label {
  font-weight: 700;
  width: 150px;
  text-align: end;
  margin-right: 10px;
}
@media (min-width: 600px) {
  .stadistic__label {
    width: 100px;
  }
}

.statistic {
  grid-area: 3/1/4/3;
  border: 10px solid #13161C;
  padding: 0;
  border-radius: 10px;
  background-color: #13161C;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .statistic {
    grid-area: 2/2/3/3;
  }
}
.statistic .statistic__project {
  padding: 30px;
  border: 2px solid #e65111;
  border-radius: 10px;
}
@media (min-width: 1400px) {
  .statistic .statistic__project {
    height: 500px;
  }
}

.stadistic__view {
  height: 100%;
  border-radius: 10px;
  position: absolute;
}

.aboutMe--elements, .aboutMe__future, .aboutMe__description, .aboutMe__profile {
  display: grid;
  place-content: center;
  border: 2px solid #e65111;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: #2C323C;
}

.aboutMe__profile {
  border: 4px solid #e65111;
  border-radius: 10px;
  background-color: #13161C;
}
.aboutMe__profile .aboutMe__header--h1 {
  line-height: 44px;
}
@media (max-width: 380px) {
  .aboutMe__profile .aboutMe__header--h1 {
    font-size: 3.8rem;
  }
}

.aboutMe__future {
  text-align: start;
}
.aboutMe__future .aboutMe__header--h2 {
  line-height: 30px;
  margin-bottom: 50px;
}
@media (max-width: 380px) {
  .aboutMe__future .aboutMe__header--h2 {
    font-size: 2.4rem;
  }
}
.aboutMe__future .aboutMe__text {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .aboutMe__future {
    grid-area: 1/2/3/3;
  }
}

.detail {
  overflow-y: hidden;
}
.detail .detail__project {
  border: 2px solid #e65111;
  border-radius: 10px;
  position: relative;
  min-height: 400px;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .detail .detail__project {
    height: 500px;
  }
}

.detail__info {
  display: grid;
  place-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  gap: 10px;
  margin: 10px;
}

.focus {
  grid-area: 2/1/3/3;
  background-color: #13161C;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  gap: 10px;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .focus {
    grid-area: 2/1/3/2;
  }
}

.projects__title {
  grid-area: 1/1/2/3;
  margin-bottom: 60px;
}

.projects__elements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: column;
  overflow: hidden;
}
.projects__elements .projects__scroll {
  border: 2px solid #e65111;
  border-radius: 10px;
  position: relative;
  min-height: 400px;
}
@media (min-width: 1400px) {
  .projects__elements .projects__scroll {
    margin: 0 10px;
  }
}

h1, h2, h3 {
  font-family: "Candal", sans-serif;
}

/*/  Clases para los elementos de accions /*/
.accionElements, .detail__accion, .skills__accion {
  font-family: "Montserrat", sans-serif;
}

/*/  Clases para los elementos de accions /*/
.accionElements, .detail__accion, .skills__accion {
  border: 2px solid #e65111;
  border-radius: 10px;
  color: #fdd7c6;
  color: #FFFFFF;
  font-size: 1.6rem;
  background-color: #13161C;
}
.accionElements:hover, .detail__accion:hover, .skills__accion:hover {
  color: #13161C;
  background-color: #f07e4d;
  font-weight: 700;
}

/*/Llamado a los elementos de accion /*/
body .slick-initialized .slick-slide {
  display: grid;
}/*# sourceMappingURL=main.css.map */