@charset "UTF-8";
/*/Colores por defector/*/
/*/Tamaño de letras /*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  background: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: inherit;
}

h1, h2, h3 {
  font-family: "Candal", sans-serif;
}

body .hidden {
  display: none;
}

/*/ Titulos y subtitulos /*/
.fontSize--lg {
  color: #fdd7c6;
  font-size: 5rem;
}

.fontSize--md {
  color: #fdd7c6;
  font-size: 3rem;
}

.fontSize--sm {
  color: #fdd7c6;
  font-size: 2rem;
}

.fontSize--xs {
  color: #fdd7c6;
  color: #FFFFFF;
  font-size: 1.6rem;
}

.fontSize--sub {
  color: #fdd7c6;
  color: #FFFFFF;
  font-size: 2rem;
}

.fontSize--tl {
  color: #fdd7c6;
  color: #e65111;
  font-size: 5rem;
  font-family: "Candal", sans-serif;
}
@media (max-width: 390px) {
  .fontSize--tl {
    color: #fdd7c6;
    color: #e65111;
    font-size: 4rem;
  }
}

/*/Estilado de los A /*/
.nav__section--link {
  color: #fdd7c6;
  font-size: 2rem;
}
.nav__section--link:hover {
  font-weight: 700;
  color: #e65111;
}

/*/  Clases para los elementos de accions /*/
.accionElements, .detail__accion, .skills__accion {
  border: 2px solid #e65111;
  border-radius: 10px;
  color: #fdd7c6;
  color: #FFFFFF;
  font-size: 1.6rem;
  background-color: #13161C;
  font-family: "Montserrat", sans-serif;
}
.accionElements:hover, .detail__accion:hover, .skills__accion:hover {
  color: #13161C;
  background-color: #f07e4d;
  font-weight: 700;
}

/*/Llamado a los elementos de accion /*/
.accion__svg:hover {
  fill: #e65111;
}

.projects {
  background-color: #2C323C;
  padding: 20px;
}

.menu {
  display: none;
}
@media (max-width: 700px) {
  .menu {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    z-index: 1000;
  }
}

.menu__icon:hover {
  fill: #e65111;
}

.nav--element {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px auto 150px;
  grid-auto-flow: row;
  background-color: #13161C;
}

.nav__section {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.nav__icons {
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  gap: 10px;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100%;
  padding: 70px 35px;
  z-index: 1;
}
@media (min-width: 1076px) {
  .nav {
    padding: 70px 45px;
    width: 300px;
  }
}

.header {
  grid-area: 1/2/1/3;
}
@media (max-width: 700px) {
  .header {
    grid-area: 1/1/1/1;
  }
}

.main {
  background-color: #FFFFFF;
  display: grid;
}

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: auto;
  grid-auto-flow: row;
}
@media (max-width: 1075px) {
  .container {
    grid-template-columns: 1fr 220px;
  }
}
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.aboutMe {
  display: grid;
  gap: 20px;
  text-align: center;
  margin: 100px auto;
  max-width: 550px;
  place-self: center;
  padding: 20px;
}
@media (min-width: 1200px) {
  .aboutMe {
    max-width: 950px;
    margin: 100px 60px;
  }
}

.aboutMe--elements, .aboutMe__future, .aboutMe__description, .aboutMe__profile {
  display: grid;
  place-content: center;
  border: 2px solid #e65111;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: #2C323C;
}

.aboutMe__profile {
  border: 4px solid #e65111;
  border-radius: 10px;
  background-color: #13161C;
}
.aboutMe__profile .aboutMe__header--h1 {
  line-height: 44px;
}
@media (max-width: 380px) {
  .aboutMe__profile .aboutMe__header--h1 {
    font-size: 3.8rem;
  }
}

.aboutMe__future {
  text-align: start;
}
.aboutMe__future .aboutMe__header--h2 {
  line-height: 30px;
  margin-bottom: 50px;
}
@media (max-width: 380px) {
  .aboutMe__future .aboutMe__header--h2 {
    font-size: 2.4rem;
  }
}
.aboutMe__future .aboutMe__text {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .aboutMe__future {
    grid-area: 1/2/3/3;
  }
}

.projects__container {
  display: grid;
  gap: 60px;
  margin: 100px auto;
}

.projects__gallery, .projects__expand {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-rows: auto;
  grid-auto-flow: row;
  border: 2px solid #e65111;
  border-radius: 10px;
  background-color: #13161C;
  padding: 10px;
  gap: 10px;
}

.projects__elements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-flow: column;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}

.projects__scroll {
  border: 2px solid #e65111;
  border-radius: 10px;
  background-color: #717a8d;
  width: 300px;
  position: relative;
}

.projects__button {
  width: 180px;
  height: 50px;
  display: grid;
  place-content: center;
  border: 2px solid #e65111;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #13161C;
  margin: 10px;
  color: #fdd7c6;
}
.projects__button:hover {
  background-color: #f07e4d;
  border: 2px solid #e65111;
  font-weight: 700;
  color: #13161C;
}

.projects__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */