/*/  Clases para los elementos de accions /*/
.accionElements
{
  @include border;
  @include font-size("xs");

  background-color: $focus-color;
  font-family: "Montserrat", sans-serif;

  &:hover {
    color: $focus-color;
    background-color: $accions-color;
    font-weight: 700;
  }
}

/*/Llamado a los elementos de accion /*/
// Botones
  .skills__accion 
  {
    @extend .accionElements;
  }
// Elementos a
  .detail__accion
  {
    @extend .accionElements;
  }

  // Animaciones del proyecto
  .animation {
    animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
// Cambia el comportamiento de bloque a grilla a los elementos de las estadisticas para que sea funcional
body .slick-initialized .slick-slide {
  display: grid;
}