/*/Colores por defector/*/
$focus-color: #13161C;
$contrast-color: #e65111;
$primary-color: #FFFFFF;
$title-color : #fdd7c6;
$secondary-color: #2C323C;
$accions-color: #f07e4d;

/*/Tamaño de letras /*/
$font-size--lg: 5rem;
$font-size--mb: 4rem;
$font-size--md: 3rem;
$font-size--sm: 2rem;
$font-size--xs: 1.6rem;
