/*/  Clases para los elementos de accions /*/
.accionElements
{
  @include border;
  @include font-size("xs");

  background-color: $focus-color;
  font-family: "Montserrat", sans-serif;

  &:hover {
    color: $focus-color;
    background-color: $accions-color;
    font-weight: 700;
  }
}

/*/Llamado a los elementos de accion /*/
// Botones
  .skills__accion 
  {
    @extend .accionElements;
  }
// Elementos a
  .detail__accion
  {
    @extend .accionElements;
  }
// svgs
.accion__svg:hover{
  fill: $contrast-color;
}
