.projects{
  padding: 20px;
  @media (min-width: 1400px){
    padding: 60px;
  }
}
// Posicionamiento y espaciado en los elementos del proyecto
.projects__container{
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: auto;
  gap: 20px;
  margin: 100px auto;
  @media (min-width: 1400px){
    @include display-grid(1fr 300px , auto);
  }
}
.projects__title{
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 60px
}
.projects__slick--container{
  @include border;
  
  background-color: #717a8d;
  height: 275px;
  position: relative;
  margin: 0 10px;
}
// Creacion del contenedor principal de los proyextos
.projects__gallery{
  @include size (100%, 300px);
  @include display-grid(40px auto 40px, auto);
  @include border;

  grid-area: 2 / 1 / 3 / 3;
  background-color: $focus-color;
  padding: 10px;
  gap: 10px;
}

// Proyectos con scroll para pasar de 1 a otro
.projects__elements{
  @include display-grid(1fr, auto, column);
  
  width: 100%;
  overflow: auto;
  overflow-y: hidden;

  // Altura establecida + especificidad para sobreescribir height: 100%  / width establecido por el carrucel
  .projects__scroll {
    @extend .projects__slick--container;
  }
}

// Estilado del boton, tamaño centrado border hover y posicion del elemento
.projects__button {
  @include size (180px, 50px);
  @include grid-center;
  @include border;
  @include hover-styles;
  @include position-type(absolute, null , 0 , 0 , null);  

  background-color: $focus-color;
  margin: 10px;
  color: $title-color;
}

// Las imagenes contienen el 100% del contenedor
.projects__img {
  @include size(100%, 100%);

  object-fit: cover;
}



// Contenedor scroll y las estadisticas
.focus{
  @include border;
  @extend .projects__gallery;
  height: auto;
  grid-area: 2 / 1/ 3 /3;

  @media (min-width: 1400px){
    grid-area: 2 / 1 / 3 / 2
  }
}

// Posicionamiento de los botones laterales
.focus__elements{
  @include display-grid(auto, 50px 1fr)
}

// Posicionamiento del elemento central del carrucel
.detail{
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  .detail__project{
    @extend .projects__slick--container;
    height: 100%;
  }
}

// Las img ocupan el 100% de su contenedor pero no se distorcionan
.detail__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


// Posicionamiento de los links de cada proyecto
.detail__info {
  @include grid-center;
  @include position-type(absolute, null , 0 , 0 , null);

  gap: 10px;
  margin: 10px;
}

// Caracteristicas especiales de los links
.detail__link{
  @include grid-center;
  @include size(80px , 40px);

  color: $title-color;
}

// Contenedor de las estadisticas
.statistic{
  grid-area: 3 / 1 / 4 / 3;

  @media (min-width: 1400px){
    grid-area: 2 / 2 / 3 / 3;
  }
  @include border;

  padding: 30px;
  background-color: $focus-color;
  overflow-y: hidden; ////////ELEMENTO 100% NECESARIO PARA LOS SLICK DEL CARRUCEL
  height: auto;
}

  // Elemento de los contenedores fanstasma creados en JS 
.stadistic__element{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.stadistic__background {
  width: 100%;
  height: 20px;
  position: relative;
  border-radius: 10px;
}
.stadistic__view {
  height: 100%;
  border-radius: 10px;
  position: absolute;
}
.stadistic__label{
  font-weight: 700;
  width: 150px;
  text-align: end;
  margin-right: 10px;
}
// Configuracion de los elementos en las distintas pantallas 700px
.statistic__project{
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: 70px auto;
  gap: 10px;
  @media (min-width: 600px){
    grid-template-columns: 150px auto;
  }
  @media (min-width: 1000px){
    grid-template-columns: 300px auto;
  }
  @media (min-width: 1400px){
    grid-template-columns: auto;
  }
}
.statistic--title{
  text-align: center;
  display: grid;
  place-content: center;
  grid-area: 1 / 1 / 1 / 2;
  @media (min-width: 600px){
    grid-area: 1 / 2 / 2 / 3;
  }
  @media (min-width: 1400px){
    grid-area: 1 / 1 / 2 / 2;
  }
}
.statistic__technology{
  grid-area: 2 / 1 / 2 / 3;
  @media (min-width: 600px){
    grid-area: 2 / 2 / 3 / 3;
  }
  @media (min-width: 1400px){
    grid-area: 2 / 1 / 3 / 2;
  }
}
.statistics__container{
  grid-area: 1 / 2/ 1 / 3;
  display: grid;
  place-content: center;
  @media (min-width: 600px){
    grid-area: 1 / 1 / 3 / 2;
  }
  @media (min-width: 1400px){
    grid-area: 3 / 1 / 4 / 2;
  }
}
.stadistic__label{
  @media (min-width: 600px){
    width: 100px;
  }
}



body .slick-initialized .slick-slide {
  display: grid;
}