// Disposicion de los elementos
.skills__container{
  background-color: $primary-color;
}
.skills__title{
  grid-area: 1 / 1 / 2 / 3;
  margin-bottom: 60px
}
.skills__section{
  padding: 10px;
  background-color: $focus-color;
  border-radius: 10px;

  @media (max-width: 1400px){
    grid-area: 2 / 1 / 3 / 3;
    }


}



.skills__JS{
  display: grid;
  place-content: center;
}
.skills__elements{
  overflow: auto;
}



.skills__section--container{
  @include border;
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: auto minmax(auto, 40px);
  width: 100%;
  height: auto;
  position: relative;
  min-height: 400px;
  background-color: $focus-color;
  padding: 30px;
  gap: 10px;
}

.skills__img{
  object-fit: cover;
  width: 200px;
  height: 200px;
  @include border;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
}

.skills__button {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  place-content: center;
  gap: 20px;
  height: 40px;
  @media (max-width: 880px){
    gap: 10px;
    height: 50px;
  }
  @media (max-width: 720px){
    display: grid;
    height: 88px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 40px;
    gap: 8px;
  }
}
.skills__accion--data{
  @media (max-width: 720px){
    grid-area: 1 / 2 / 3 / 3;
  }
}
.skills__accion{
  height: 100%;
  width: 160px;
  @media (max-width: 915px){
    width: 100%;
  }  
  @media (max-width: 720px){
    width: 100%;
  }  
}
.skills__detail{
  @media (max-width: 1400px){
  grid-area: 3 / 1 / 4 / 3;
  }
}
.skills__move--back{
  grid-area: 1 / 1 / 3 / 2;
}
.skills__move--next{
  grid-area: 1 / 3 / 3 / 4;
}

.skills__move{
  @media (max-width: 1000px){
    display: none;
  }
}
.skills__elements{
  @media (max-width: 1000px){
    grid-area: 1 / 1 / 2 / 4;
  }
}



/////////////////////////////////////
.skills__detail{
  background-color: $focus-color;
  padding: 10px;
  border-radius: 10px;
}
.skills__header{
  margin-bottom: 30px;
  text-align: center;
  grid-area: 1 / 1 / 2 / 3;
  @media (min-width: 1400px){
    margin-bottom: 60px;
  }
}
.skills__data--container{
  display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}
.skills__data{
  @include border;
  padding: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width: 1400px){
    display: block;
  }
}