// Elemento desplegable del menu en mobile vista desde 700px o inferiores
.menu {
  display: none;
  @media (max-width: 700px){
      @include position-type(fixed, 30px , 30px);
      
      display: flex;
      z-index: 1000;
  }
}