// Posicionamiento de los elementos en grilla con espaciado
.aboutMe {
  display: grid;
  gap: 20px;
  text-align: center;
  margin: 100px auto;
  max-width: 550px;
  place-self: center;
  padding: 20px;

  @media (min-width: 1200px){
    max-width: 950px;
    margin: 300px 60px;
  }
}
