// Contenedor principal = body que deja un espacio para el elemento fixed en la version desktop en la mobile se elimina este espacio
.container {
  @include display-grid(1fr 300px, auto);

  @media (max-width: 1075px) {
    grid-template-columns: 1fr 220px;
  }

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }
}

// Posicionamiento y espaciado en los elementos del proyecto principal
.projects__container{
  @include display-grid(1fr 250px, auto);
  margin: 100px auto;
  gap: 30px;
  @media (min-width: 1400px){
    @include display-grid(1fr 300px , auto);
    width: 1200px;
    padding: 20px;
  }
}
// Disposicion de los elementos del contenedor de habilidades
.skills__container{
  @extend .projects__container
}
