.nav {
  @include position-type (fixed , 0);
  @include size(220px, 100%);
  right: 0;
  padding: 70px 35px;
  z-index: 1;
  
  @media (min-width : 1076px)
  {
    padding: 70px 45px;
    width: 300px;
  }
}