.nav {
  @include position-type (fixed , 0);
  right: 0;
  width: 220px;
  height: 100%;
  padding: 70px 35px;
  z-index: 1;
  @media (min-width : 1076px)
  {
    padding: 70px 45px;
    width: 300px;
  }
}